<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    
    <h1>{{ title }}</h1>
    <h2>
      {{allItems.length}}
      <span *ngIf="allItems.length === 1; else elseBlock">item</span>
      <ng-template #elseBlock>items</ng-template>
    </h2>
    
    <ul>
      <li *ngFor="let i of items">
        <app-item (remove)="remove(i)" [item]="i"></app-item>
      </li>
    </ul>

    <input
  #newItem
  placeholder="add an item"
  (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput" />

  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>

  </body>
</html>